# Notebooks and Data
EDA.ipynb
ML.ipynb
Customer_support_data.csv
best_model.pkl

# Business Documents
Flipkart project.pptx

# Scripts and Artifacts
logistic_model_def.py

# Python environment
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.idea/
.vscode/
nv.bak/
venv.bak/

# Project artifacts
best_model.pkl
